<button
  #button
  type="button"
  class="inline-flex justify-center items-center gap-2 rounded py-1 px-3 border-2 disabled:opacity-50"
  [ngClass]="{
    'text-sm': size === 'sm',
    'text-md': size === 'md',
    'text-lg': size === 'lg',

    'bg-sky-700': color === 'primary' && !outline,
    'bg-gray-500': color === 'secondary' && !outline,
    'bg-green-700': color === 'success' && !outline,
    'bg-red-700': color === 'danger' && !outline,
    'bg-yellow-500': color === 'warning' && !outline,
    'bg-sky-500': color === 'info' && !outline,
    'bg-white': outline,

    'border-sky-700': color === 'primary',
    'border-gray-500': color === 'secondary',
    'border-green-700': color === 'success',
    'border-red-700': color === 'danger',
    'border-yellow-500': color === 'warning',
    'border-sky-500': color === 'info',
  }"
  [disabled]="isDisabled"
  (click)="click()"
  (focus)="focus()"
>
  {{ label }}
  <ng-content></ng-content>
</button>
