@tailwind base;
@tailwind components;
@tailwind utilities;

// !!! for color variables !!!
//@layer base {
//  :root {
//    --color-primary: 255 115 179;
//    --color-secondary: 111 114 185;
//  }
//}

.scrollbar-invisible {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
    background-color: transparent;
  }
}
