@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/app/global/styles/color-palette-variables.scss';

.scrollbar-invisible {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
    background-color: transparent;
  }
}
