<div class="h-screen w-screen">
  <div class="h-16">
    <app-header></app-header>
  </div>
  <div class="flex fill-remaining-height bg-gray-700">
    <div class="basis-auto h-full overflow-y-auto">
      <app-menu></app-menu>
    </div>
    <div class="flex-grow bg-gray-200 p-4 flex flex-col gap-4">
      <div class="h-8"></div>
      <div class="bg-white rounded flex-grow overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="h-9">
    <app-footer></app-footer>
  </div>
</div>
