<div class="h-screen w-screen">
  <div class="h-16">
    <app-header></app-header>
  </div>
  <div class="fill-remaining-height flex bg-gray-700">
    <div class="h-full basis-auto overflow-y-auto">
      <app-menu></app-menu>
    </div>
    <div class="flex flex-grow flex-col gap-4 bg-gray-200 p-4">
      <div class="h-8"></div>
      <div class="flex-grow overflow-y-auto rounded bg-white">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="h-9">
    <app-footer></app-footer>
  </div>
</div>
