<div class="flex h-screen w-screen flex-col">
  <app-header></app-header>
  <div class="flex flex-grow overflow-y-auto">
    <div
      class="menu-scrollbar overflow-y-auto overflow-x-hidden bg-secondary-800"
    >
      <app-menu></app-menu>
    </div>
    <div class="flex flex-grow flex-col gap-2 bg-gray-200 p-4">
      <div class="text-2xl font-medium text-secondary-800">
        Breadcrumbs will be here
      </div>
      <div class="flex-grow overflow-y-auto rounded-md bg-white p-4 shadow-md">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
